<div class="card card--{{tag}}">
    <div class="card-body">
        <label class="tag">{{tag}}.</label>
        <h2 class="title">{{title}}</h2>
        <a href="{{url}}" class="button">Bekijken</a>
    </div>
</div>
